*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    height: 100%;
    color: rgba(255,255,255, 0.8);

  }
  body {
    font-family:  Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    background: #222;  
  }

  a{
    text-decoration: none;
    font-family: cursive;
    color: grey;
  }


  a:hover{
    color: orange;
  }

  nav {
    padding: 10px;
    text-align: left;
    margin: 10px;
    background: white;
    /*background: #f1f1f1;*/
    position: fixed;
    margin:0px;
    width: 100%;
    padding: 15px;
  }

  nav a {
  text-decoration: none;
  color: orange;
  padding: 5px;
  margin: 15px;
  border-radius: 2em;
  font-size: 20px;
  }


  nav a:hover {
    transition: 0.3s;
    color: orange;
    background-color: black;
  }

  .content {
    background-color: black;
    flex-grow: 1;
  }

.h1 {
    padding-top: 100px  ;
    background: rgba(0, 0, 0, 0.2);
    margin-top: 0px;

      
}

  h1 {
    color: orange;
    text-align: center;
    font-family:  cursive;

  }

  
  footer {
    background: #f1f1f1;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    font-size: 13px;
    margin-top: 10px;
  }

    footer div{
        margin: 0px;
        padding: 5px
    }


    footer a {
      text-decoration: none;
      color: black;
    font-family:  Arial, Helvetica, sans-serif
    }

  .projet{

    margin:75px ;

  }



.projet img{
  float: right;
  cursor: pointer;
  
}

 .projet img:hover{
  transition: 1s;
  height: 410px;
  width: 710px;
}


.projet a img {
  float: none;
}

.projet a:hover img {
  transition: none;
  height: 75px;
  width: 150px;
}


.projet p{
  font-size: 25px;
}


.imgProfil{
  margin: 10px;
  margin-left: 2  0%;
}


ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  padding: 10px;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

li:hover {
  border-radius: 20px;
  transition: 0.5s ease-in-out;
  color: orange;

}

li:last-child {
  margin-right: 0;
}

p {
  color: #ffffff; /* Couleur de texte blanche */
  font-size: 16px; /* Taille de police */
  line-height: 1.5; /* Hauteur de ligne */
  margin: 10px 0; /* Marges supérieure et inférieure */
  padding: 0 20px; /* Espacement intérieur gauche et droit */
  text-align: justify; /* Alignement justifié */
}




h5{
  font-size: 18px;
}


.veille img {
  transition: 1s ease-in-out;
  width: 30%;
  height: 300px;
  cursor: pointer;
}

.veille img:hover {
  transition: 1s ease-in-out;
  width: 33%;
  height: 350px;
}

.veille img:not(:hover) {
  transition: 1s ease-out;
  width: 30%;
  height: 300px;
}
